%h1= training.title

%h2 Što?
= render_markdown(training.description)

- if training.goal
  %h2 Zašto?
  %p Cilj treninga je #{training.goal.tap { |str| str[0] = str[0].downcase }}

%h2 Gdje?
%p #{training.location}

%h2 Kad?
- from, till = format_date_range(training.begins_on, training.ends_on)
%p #{from} &ndash; #{till}

- if training.participating_countries
  %h2 Koje države?
  %p= training.participating_countries

-# %h2 Je li to za mene?
-# %p 

- if training.additional_info
  %h2 Još nešto?
  = render_markdown(training.additional_info)

%h2 Želim saznati više&hellip;
%p Za više informacija možete pruzeti ovaj #{link_to "Infoletter", training.infoletter_url}, a ako još uvijek budete imali pitanja, slobodno se obratite na našu email adresu #{mail_to 'synergy@synergy-croatia.com'}.

%h2 Može!
%p Izvrsno! U tom slučaju ispunite ovaj #{link_to "obrazac za prijavu", training.participation_form_url} i pošaljite ga na našu email adresu.
