- present training do |training_presenter|

  - if logged_in?
    .controls-small
      = training_presenter.edit_button "Izmjeni"
      = training_presenter.delete_button "Izbriši"

  %article

    %header
      %h1= training_presenter.title
      %p.info= training_presenter.location

    %section
      %h2 O čemu se radi?
      = training_presenter.description

    - if training.participating_countries?
      %section
        %h2 Tko sve sudjeluje?
        %p= training_presenter.participating_countries

    %section
      %h2 Tko se može prijaviti?
      = training_presenter.intended_group

    %section
      %h2 Troškovi
      = training_presenter.expenses

    %section
      %h2 Želim saznati više...
      %p
        Za dodatne informacije možete preuzeti ovaj #{link_to "infoletter", training_presenter.infoletter.url}.
        Ako imate bilo kakvih pitanja, slobodno nas kontaktirajte na #{mail_to "synergy@synergy-croatia.com"}.

    %section
      %h2 Prijava
      %p
        Potrebno je ispuniti #{link_to "prijavnicu", training_presenter.application_form.url} i
        najkasnije do #{l training_presenter.deadline} poslati na našu email adresu.
        Prijave se odobravaju kronološkim redom.
