- present training do |training_presenter|

  %article

    %header
      %h1= training_presenter.title
      %p.info= training_presenter.location

    = training_presenter.description

    - if training.participating_countries.present?
      %section
        %h2 Koje države?
        %p= training_presenter.participating_countries

    - if training.additional_info.present?
      %section
        %h2 Još nešto?
        = training_presenter.additional_info

    %section
      %h2 Prijava
      %p Potrebno je ispuniti #{link_to "prijavnicu", training_presenter.participation_form_url} i najkasnije do (&hellip;) poslati na našu email adresu. Prijave se odobravaju kronološkim redom.
