%h1= training.title

= render_markdown(training.description)

%h2 Gdje?
%p #{training.city}, #{t "countries.#{training.country}"}

%h2 Kada?
%p= display_date_range(training.begins_on, training.ends_on)

- if training.participating_countries.present?
  %h2 Koje države?
  %p= display_countries(training.participating_countries)

- if training.additional_info.present?
  %h2 Još nešto?
  = render_markdown(training.additional_info)

%h2 Želim saznati više&hellip;
%p Za više informacija možete pruzeti ovaj #{link_to "infoletter", training.infoletter_url(:download => true)}, a ako još uvijek budete imali pitanja, slobodno se obratite na našu email adresu #{mail_to 'synergy@synergy-croatia.com'}.

%h2 Može!
%p Izvrsno! U tom slučaju ispunite ovaj #{link_to "obrazac za prijavu", training.participation_form_url(:download => true)} i pošaljite ga na našu email adresu.
