- present announcement do |announcement_presenter|

  - if admin?
    .controls
      = announcement_presenter.edit_button "Izmjeni"
      = announcement_presenter.delete_button "Izbriši"

  %dl
    %dt.hr Sadržaj
    %dd= announcement_presenter.content_hr

    %dt.en Sadržaj
    %dd= announcement_presenter.content_en

    %dt Istječe
    %dd= announcement_presenter.expires_on
