- present announcement do |announcement_presenter|

  - if admin?
    .small-controls
      = announcement_presenter.edit_button "", title: "Izmjeni"
      | #{announcement_presenter.delete_button "", title: "Izbriši"}

  %dl

    %dt.hr Sadržaj
    %dd= announcement_presenter.content_hr

    %dt.en Sadržaj
    %dd= announcement_presenter.content_en

    %dt Istječe
    %dd= announcement_presenter.expires_on
