- @title = "Prijava"

= simple_form_for :user do |f|

  = f.input :username, input_html: {value: params[:user].try(:[], :username), autofocus: true }
  = f.input :password

  .form_actions
    = f.button :submit, "Prijava", class: "btn btn_primary"
    = cancel_button "Odustani", root_path
