%header.site_header
  .container
    .site_logo= link_to image_tag("logo.png", alt: "logo"), root_path

    .site_quote= raw(t(".quote"))

    %ol.site_lang
      %li= link_to image_tag("lang/HR.png", size: "24x24", title: "Hrvatski"), locale: :hr
      %li= link_to image_tag("lang/GB.png", size: "24x24", title: "English"), locale: :en

    - if logged_in?
      .logged_in
        Prijavljeni ste kao administrator.
        #{link_to "Admin", admin_root_path}
        | #{link_to "Odjava".prepend_icon("exit"), logout_path, method: :delete}
