- url = @project.new_record? ? admin_projects_path : admin_project_path(@project)

= simple_form_for @project, url: url, defaults: {locale: :hr} do |f|

  .inner
    = f.input :name_hr
    = f.input :name_en
    = f.input :category do
      = f.association :category, prompt: "Odaberi…", wrapper: false, label: false
      %p ili stvori #{link_to "novi", new_admin_category_path}.
    = f.input :country, priority: common_countries
    = f.input :city_hr
    = f.input :city_en
    = f.input :begins_on
    = f.input :ends_on
    = f.input :description_hr, input_html: {class: "big"}
    = f.input :description_en, input_html: {class: "big"}
    = f.input :summary_hr
    = f.input :summary_en
    = f.input :participating_countries, priority: common_countries, multiple: true, size: 10
    = f.input :age_restriction do
      #{f.number_field(:minimum_age)} – #{f.number_field(:maximum_age)}
    = f.input :infoletter
    - if @project.infoletter?
      .uploaded= raw "(Trenutno učitano: #{uploaded_file(@project.infoletter, "Infoletter")})"
    = f.input :application_form
    - if @project.application_form?
      .uploaded= raw "(Trenutno učitano: #{uploaded_file(@project.application_form, "Prijavnica")})"
    = f.input :deadline
    = f.input :available_space

  .form_actions
    = f.button :submit, class: "btn_primary"
    = cancel_button "Odustani", admin_projects_path
