- @title = t(".page_title")

%article
  %h1= t(".page_title")
  - @trainings.each do |training|
    %h2 #{training.title}
    = render_markdown(training.summary)

    %dl
      %dt #{t(".place")}
      %dd #{training.city}, #{t("countries.#{training.country}")}

      %dt #{t(".duration")}
      %dd #{training.begins_on} &ndash; #{training.ends_on}

      %dt #{t(".infoletter")}
      %dd #{link_to "Infoletter", training.infoletter_url}
