- @title = t(".page_title")

= render "archive_nav"

:markdown
  Većina projekata sufinancirana su kroz program Europske Unije Youth in Action ili Mladi na djelu. Više o programu na stranicama [Agencije za mobilnost i programe EU](http://mobilnost.hr/).

%article
  - @trainings.each do |training|
    %h2 #{training.title}
    = render_markdown(training.summary)

    %dl
      %dt #{t(".place")}
      %dd #{training.city}, #{t("countries.#{training.country}")}

      %dt #{t(".duration")}
      %dd #{display_date_range(training.begins_on, training.ends_on)}

      %dt #{t(".infoletter")}
      %dd #{link_to "Infoletter", training.infoletter_url}
