- @title = t(".page_title")

= render "archive_nav"

:markdown
  Većina projekata sufinancirana su kroz program Europske Unije Youth in Action ili Mladi na djelu. Više o programu na stranicama [Agencije za mobilnost i programe EU](http://mobilnost.hr/).

%article
  - @trainings.each do |training|

    - present training do |training_presenter|

      %h2= training_presenter.title
      = training_presenter.summary

      %dl
        %dt= t(".location")
        %dd= training_presenter.location

        %dt= t(".duration")
        %dd= training_presenter.duration

        %dt= t(".infoletter")
        %dd= link_to "Infoletter", training_presenter.infoletter_url
