- @title = t(".page_title")

%h1= @title

= @text.body

%ul.partner_list
  = list_of @partners do |partner|
    = link_to partner.url, target: "_blank" do
      = image_tag(partner.photo_url(:small), alt: partner.name)
      %div= partner.name
