- @title = t(".page_title")

%h1= @title

= markdown t(".body")

%ul.partner_list
  = list_of logos do |logo|
    %a{href: logo.url, target: "_blank"}
      = image_tag(logo.src, alt: logo.title)
      %div= logo.title
