- present project do |project_presenter|

  %article

    %h2= project_presenter.title
    = project_presenter.summary

    %dl
      %dt= t(".location")
      %dd= project_presenter.location

      %dt= t(".duration")
      %dd= project_presenter.duration

      %dt= t(".infoletter")
      %dd= project_presenter.infoletter("Infoletter")
