- present project do |project_presenter|

  %article.project_long

    - if admin?
      .controls
        = project_presenter.edit_button "", title: "Izmjeni"
        = project_presenter.add_testimonial_button "", title: "Dodaj iskustvo"
        = project_presenter.delete_button "", title: "Izbriši"

    - if admin?
      %h1.title= project_presenter.title

    - unless admin?
      %p.location= project_presenter.location.prepend_icon("location")

      = project_presenter.description

      %ol.attachments
        = content_tag :li, project_presenter.infoletter("Infoletter") if project_presenter.infoletter?
        = content_tag :li, project_presenter.application_form("Prijavnica") if project_presenter.application_form?
