- present project do |project_presenter|

  .project_short

    %h2.title= project_presenter.title
    = project_presenter.summary

    %dl
      %dt= t(".location")
      %dd.location= project_presenter.location

      %dt= t(".duration")
      %dd.duration= project_presenter.duration

      %dt= t(".infoletter")
      %dd.infoletter= project_presenter.infoletter("Infoletter")
