- present project do |project_presenter|

  %article

    %header
      %h1= project_presenter.title
      %p.info= project_presenter.location

    = project_presenter.description

    %div.attachments
      = project_presenter.infoletter("Infoletter")
      = project_presenter.application_form("Prijavnica")
