- url = @category.new_record? ? admin_categories_path : admin_category_path(@category)

= simple_form_for @category, url: url, defaults: {locale: :hr} do |f|

  = f.error_notification

  = f.input :name_hr
  = f.input :name_en

  .form_actions
    = f.button :submit, class: "btn_primary"
    = cancel_button "Odustani", (referer || admin_categories_path)
