- present testimonial do |testimonial_presenter|

  %blockquote
    = testimonial_presenter.content
    %p
      %cite
        %strong #{testimonial_presenter.author},
        #{testimonial_presenter.project_name},
        #{testimonial_presenter.project_country},
        #{testimonial_presenter.project_duration}
