- present testimonial do |testimonial_presenter|

  %article{class: ("fade_out" if admin?)}
    - if admin?
      .controls
        = testimonial_presenter.edit_button "Izmjeni"
        = testimonial_presenter.delete_button "Izbriši"

    %blockquote
      = testimonial_presenter.content

      %footer
        %b.author= testimonial_presenter.author
        ,
        = testimonial_presenter.project
