- present testimonial do |testimonial_presenter|

  %blockquote
    - if admin?
      .small-controls
        #{testimonial_presenter.edit_button ""}
        | #{testimonial_presenter.delete_button ""}
        | #{expand_button "", title: "Vidi sadržaj"}

    = testimonial_presenter.content
    %p
      %cite
        %strong #{testimonial_presenter.author},
        #{testimonial_presenter.project}
