%h1 #{testimonial.training.title}
%h2 #{t "countries.#{testimonial.training.country}" }, #{display_date_range(testimonial.training.begins_on, testimonial.training.ends_on)}

%blockquote
  = render_markdown(testimonial.body)
  %p
    %cite= testimonial.author
