%blockquote
  = render_markdown(testimonial.body)
  %p
    %cite
      %strong #{testimonial.author},
      #{testimonial.training.title},
      #{t("countries.#{testimonial.training.country}")},
      #{display_date_range(testimonial.training.begins_on, testimonial.training.ends_on)}
