!!!
%html.no-js
  %head
    %title Synergy Croatia · Admin · #{@title}
    %meta{charset: 'utf-8'}
    %meta{name: 'robots', content: 'noindex'}
    = favicon_link_tag
    = stylesheet_link_tag "application"
    = render "shared/javascript"
    = csrf_meta_tags

  %body{class: body_class}
    = render "shared/header"
    = render partial: "shared/navigation", locals: {admin: true}

    .site
      .container
        .main_content{role: "main"}
          = yield

    = render "shared/footer"

    = javascript_include_tag "application"
