!!!
%html.no-js
  %head
    %title Synergy Croatia · #{@title}
    %meta{charset: "utf-8"}
    %meta{name: "robots", content: "noindex"}
    = favicon_link_tag
    = stylesheet_link_tag "application"
    = render "shared/javascript"
    = csrf_meta_tags
    = auto_discovery_link_tag :atom, news_path(format: "atom")

  %body{class: "#{params[:controller]} #{params[:action]}"}
    = render "shared/header"
    = render partial: "shared/navigation", locals: {admin: false}

    .site.container
      .main_content{role: "main"}
        = yield

      = render "sidebar"
      = render "shared/footer"

    = javascript_include_tag "application"
