!!!
%html.no-js{lang: I18n.locale}
  %head
    %title Synergy Croatia · #{@title}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = favicon_link_tag "/favicon.ico?v=2"
    = stylesheet_link_tag "application"
    = render "shared/javascript"
    = csrf_meta_tags
    = auto_discovery_link_tag :atom, news_path(format: "atom")

  %body{class: "#{params[:controller]} #{params[:action]}"}
    = render "shared/header"
    = render partial: "shared/navigation", locals: {admin: false}

    .site
      .container
        %article.main_content{role: "main"}
          = yield

        = render "sidebar"

    = render "shared/footer"

    = javascript_include_tag "application"
