!!!
%html
  %head
    %title Synergy &middot; #{@title}
    %meta{:charset => 'utf-8'}
    %meta{:name => 'robots', :content => 'noindex'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Gentium+Basic:400,700,400italic,700italic|Fredericka+the+Great&subset=latin-ext,latin', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header#header
      #logo= link_to 'Synergy Croatia', '/'
      %h1#title= @title
      %p#lang
        - if english?
          Ne znaš engleski? Postoji #{link_to "hrvatska", :locale => :hr} verzija.
        - else
          Not your language? Try the #{link_to "English", :locale => :en} version.
    %nav
      %ol
        = list_of navigation_pages do |page|
          = link_to_unless_current page.title, page.route do
            = link_to page.title, page.route, :class => 'active'

    %article{:role => 'main', :id => current_page_id}
      = yield

    - unless params[:action] == 'index'
      %aside
        = render 'mailchimp'
        %section#results
          %h1 Rezultati polaznika
          %ul
            = list_of(['neka web stranica', 'nešto drugo', 'blah']) do |item|
              = link_to item, '#'
