!!!
%html
  %head
    %title Synergy · #{@title}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav
      %ol
        = list_of navigation_pages do |page|
          = link_to page.title, page.route

    - if english?
      %p= link_to "Croatian", :locale => :hr
    - else
      %p= link_to "Engleski", :locale => :en

    = yield
